In [13]:
# Libraries: Standard ones
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random as rnd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [9]:
# Load the data: data_banknote_authentification
data1 = pd.read_csv("data_banknote_authentication.csv",sep=";")
#print(data)
data1.describe() # Statistical summary of the data

#Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool were used to extract features from images.

# variance
# skewness
# curtosis
# entropy
# class

               var         skew         curt          ent        class
count  1373.000000  1373.000000  1373.000000  1373.000000  1373.000000
mean      0.436057     1.927265     1.394565    -1.191114     0.444283
std       2.843028     5.869730     4.309953     2.100343     0.497067
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.771300    -1.705100    -1.628300    -2.409900     0.000000
50%       0.496650     2.325900     0.616630    -0.586650     0.000000
75%       2.823200     6.816200     3.176900     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [6]:
# Load the data: kidney disease
data2 = pd.read_csv("kidney_disease.csv",sep=",")
#print(data2)
data2.describe() # Statistical summary of the data

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

On s'entraine sur data1 qui est plus léger

### Initialisation train/test

In [20]:
X = np.transpose([data1['var'], data1['skew'], data1['curt'], data1['ent']])
X = StandardScaler().fit_transform(X)
Y = data1['class']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

### Recherche des paramètres utiles

### Méthode 1: ...

### Méthode 2: ...